@font-face {
    font-family: "Elegante";
    src: url(../../Fuentes/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

html {
    background: linear-gradient(to bottom,rgba(255, 0, 0, 0.555),rgb(81, 78, 241));
    background-repeat: no-repeat;
    height: 100%;
}

legend {
    text-align: center center;
    font-weight: bold ;
    font-family: "Elegante";
    color: white;
}

fieldset {
    border: 1px rgb(0, 225, 255) solid;
}